.ClubCategory {
  display: block;
  width: 40%;
  // height: calc(100vh - 4rem);
  background: #dadada;
  overflow-y: auto;
}

<<<<<<< HEAD
=======
// li {
//   list-style: none;
//   font-weight: bold;
//   margin-top: 2rem;
//   cursor: pointer;
// }

>>>>>>> 2ab081a13079669e4a6df75fa728f10cb0480a2c
.show-menu {
  position: relative;
}

.hide-menu {
  display: none;
}

.sidebar-item-text {
  padding-left: 10px;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
}

.scroll-type1::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 막대 설정*/
.scroll-type1::-webkit-scrollbar-thumb {
  height: 5%;
  background-color: rgba(255, 255, 255, 1);
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

.sidebar-item-text {
  padding: 0px;
}
