.ClubCategory {
  display: block;
  width: 20%;
  height: 100%;
  background: #dadada;
  
}

li {
  list-style: none;
  font-weight: bold;
  margin-top: 2rem;
  cursor: pointer;
}

.show-menu {
  position: relative;
}

.hide-menu {
  display: none;
}