.IntroContainer {
  height: 600px;
  width: inherit;
  border: 1px solid rgb(190, 190, 190);
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
}
.IntroPoster {
  border: 1px solid rgb(190, 190, 190);
  height: 500px;
  margin: 10px;
}
.IntroMain {
  border: 1px solid rgb(190, 190, 190);
  width: calc(100% - 400px);
  height: 500px;
}
