.IntroContainer {
  height: 600px;
  width: inherit;
  border: 1px solid rgb(190, 190, 190);
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
}
.IntroPoster {
  border: 1px solid rgb(190, 190, 190);
  height: 500px;
  margin: 10px;
}
.IntroMain {
  border: 1px solid rgb(190, 190, 190);
  width: calc(100% - 400px);
  height: 500px;
}
.IndivStat {
  background-color: #eee;
  width: calc(100% / 6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IndivStat_Q {
  font-size: 25px;
  margin-bottom: 15px;
}
.IndivStat_A {
  font-size: 20px;
}
