.ElseClubList {
  width: 80%;
  margin: 1.5rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0px;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.ElseClubListTop{
  input{
    margin: 0px 5px 0px 15px;
  }
}

.Title {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
}

.Posts {
  padding: 0.4rem 0;
  display: flex;
  justify-content: space-between;
  & + & {
    border-top: 1px solid #bbbbbb;
  }
}

.State {
  background-color: #333333;
  color: #ffffff;
  border-radius: 16px;
  font-size : 12px;
  height : 24px;
  line-height : 24px;
  width : 56px;
  text-align: center;
  cursor : default;
}

.Posting {
  background-color: #777777;
  color: #ffffff;
  border-radius: 4px;
  width: 50px;
  justify-content: center;
  position: relative;
  display: flex;
  float: left;
  font-size : 12px;
  text-decoration: none;
  height : 24px;
  line-height : 24px;
  transition: background-color 0.2s;
  &:hover{
    background-color: #333333;
    color : #fff;
  }
}
